## 4. Printing

![exercise](https://apmonitor.com/che263/uploads/Begin_Python/exercise.png)

Printing is displaying values to the terminal. You use the built in Matlab __function__ ```disp()``` to display values.

[<img src="https://apmonitor.com/che263/uploads/Begin_Matlab/BeginMatlab04.png" alt="YouTube Video" width="550"/>](https://www.youtube.com/watch?v=wuWLVbBFPuc&list=PLLBUgWXdTBDi3J05aMVG1knUpqRhkbc46 "Course Overview")

You could use this to tell you what the current temperature of the egg is and when to display it. Get more practice by putting something different in the function and running the program.

In [1]:
disp("Chicken Hatches: 'Hello World!'") # Put something different in the "" quotes

Chicken Hatches: 'Hello World!'

You can also print other information such as the type of a variable with `class()`.

In [2]:
eggs = 200 % integer variable
disp(class(eggs))

egg_type = "Platypus" % string variable
disp(class(egg_type))

yes = true % Boolean variable
disp(class(yes))

eggs =  200
double
egg_type = Platypus
char
yes = 1
logical

Now using information from the previous lesson, combine different value types by displaying a ```double``` and a ```char``` together. This is similar but instead of putting them in a variable, you are displaying them to the screen. You'll have to change the value type for it to work like in the previous activity such as `num2str()` to convert a number to a string. You can also convert a string to a number with `str2num()`.

In [7]:
myNumberString = '62'
class(myNumberString)
myNumberInt = str2num(myNumberString)
class(myNumberInt)
disp([ , ]) # Print a string and number together, correctly

myNumberString = 62
ans = char
myNumberInt =  62
ans = double
[](0x0)

You can use two __variables__ in a ```disp``` function by doing something like this ```disp([var1, var2])```. If you want more practice put different strings into the __variables__.

In [8]:
var1 = 'Put something here'
var2 = " and put something here."
disp([var1, var2]) # Prints both

var1 = Put something here
var2 =  and put something here.
Put something here and put something here.

You can also use commas to seperate things when ```displaying``` but they must always be the same type (e.g. no mixing ```char``` and ```int```).

In [9]:
var1 = "You are cooking the egg at "
var2 = 45
disp([var1, int2str(var2), "°C, cool down!"])

var1 = You are cooking the egg at
var2 =  45
You are cooking the egg at 45°C, cool down!

### Displaying Results

![idea](https://apmonitor.com/che263/uploads/Begin_Python/idea.png)

Jupyter Notebook automatically displays the expressions in a cell that do not end with a semi-colon ```;```. Removing the ```;``` is useful when you need to display the output. Run the code below and put in different equations to check your understanding.

In [10]:
3*5
5*2;

ans =  15

Another way to ensure display is to use a ```disp()``` function and you can get output for the line.

In [13]:
disp(14/2)
disp(7*2)
disp(3+11)

 7
 14
 14

### Activity 

![expert](https://apmonitor.com/che263/uploads/Begin_Python/expert.png)

Make two __variables__ that will add two numbers when you print them together. This is kind of like the example above, but use numbers in your variables.

In [16]:
        % First number variable
        % Second number variable
disp("")  % Print together

If you assign the same variable twice it simply changes values.

```octave
test = 3
test = "egg"```

Do the same here, except now print the variable and `class()` in between variable assignments so you can see how it works.

In [18]:
test = 3;
        # display here
test = "egg";
        # display here

Use the variable with an equation to display 500. You need to make the ```disp()``` have an equation in order to change the output value.

In [11]:
equation = 25*4
disp(equation    ) % Make an equation to equal 500

equation =  100
 100

![expert](https://apmonitor.com/che263/uploads/Begin_Python/expert.png)

Connect the USB communication cable to the Arduino. The white power cable is not needed for this exercise.

![connections_no_power](https://apmonitor.com/che263/uploads/Begin_Python/connections_no_power.png)

Calculate the median of 3 temperature values. Connect to the TCLab with `lab=tclab`, read the temperature values 3 times with `lab.T1`, store the values in variables `TC1`, `TC2`, and `TC3`, and display the median of the 3 values. Close the connection to the TCLab with `clear lab`.

Create a single line that displays the 3 values and the median such as:

```octave
The median of 23.52, 23.23, and 23.74 is 23.52.
```

You can combine the numbers by creating an Array such as

```octave
disp(["The median of ", num2str(TC1), ", ", num2str(TC2), ", ..."])
```

In [16]:
clear all
lab = tclab;
TC1=lab.T1; TC2=lab.T1; TC3=lab.T1;
TM = median([TC1,TC2,TC3])
clear lab

TM =  23.803